* {
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 2px solid red;
  height: 100vh;
  min-width: 1500px;
}

.mainSection {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: url("img/Hero1.jpg") no-repeat;
  background-size: 1530px 760px;
  height: 80%;
  min-width: 1500px;
  min-height: 700px;
  width: 75%;
  border: 2px solid red;
}

.navBar {
  position: relative;
  top: 5px;
  display: grid;
	grid-template-columns: repeat(8, 10%) 1fr;
	width: 70%;
	height: 40px;
	margin: 100px auto;
	border: 1px solid #757575;
	border-radius: 5px;
	/* justify-content: center; */
	place-items: center;
	background: linear-gradient(#8c8c8c 50%,#757575 50%);
	font-size: 13px;
	line-height: 18px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: whitesmoke;
  border: 2px solid red;
}

.navBaritems {
  border-width: 0 2px 0 1px;
	border-style: solid;
	margin: 0;
	border: 1px solid red;
}

.navBaritems:hover {
	background-color: black;
}

.searchBar {
    display: flex;
    flex-direction: row;
}

.navBar > * {
    text-decoration: none;
    color: seashell;
}

.logo {
	width: 20px;
	height: 20px;
}

.logo:hover {
	background-color: black;
}

.header {
	padding: 24px 0;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.title {
	margin: 0 auto;
	text-decoration: none;
	color: whitesmoke;
	font-family: Arial;
	font-size: 50px;
	font-weight: 1;
	
}

.centerItem {
  position: relative;
	z-index: 10;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 31px;
}

.centerItem:hover {
	text-decoration: underline;
}

.promos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* border: 1px solid greenyellow; */
	min-width: 1500px;
  width: 75%;
	
}

.promo {
	object-fit: cover;
  width: 100%;
  padding: 3px 2px 0 0;
}

.footerMain {
  margin: 20px 0;
}

.firstLine {
  display: flex;
  flex-direction: row;
  /* border: 2px solid greenyellow; */
  min-width: 950px;
  justify-content: space-between;
  align-items: center;
}

.ftText {
font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
font-size: x-small;
margin: 0;
text-decoration: none;
color: #5E5E5E;
/* border: 2px solid blueviolet; */
}

.flText2 {
  grid-template-columns: repeat(8, 1fr);
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: x-small;
  height: 100%;
  justify-content: space-around;

}

.ftImage {
	width: 15px;
	height: 15px;
}

.ftText2 {
  text-decoration: none;
  height: 100%;
  padding: 0 3px;
  vertical-align: start;
  border-right: 1px solid #5e5e5e;
  color: cornflowerblue;
}

.ftText3 {
  text-decoration: none;
  height: 100%;
  padding: 0 3px;
  vertical-align: start;
  color: cornflowerblue;
}

.ftText3:hover {
  text-decoration: underline;
}

.ftText2:hover {
  text-decoration: underline;
}

.ftText2:last-child {
  border-right: 0;
}

.ftImage {
  align-self: center;
}

.secondLine {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.slText2 {
  margin-left: 10px;
  width: 17%;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: x-small;
  height: 100%;
  vertical-align: middle;
}