* {
    box-sizing: border-box;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
		margin: 0 auto;
}

.mainSection {
  display: flex;
  flex-direction: column;
  justify-items: center;
  /* border: 1px solid red; */
  background: url("img/hero.jpg") no-repeat;
	height: 615px;
	width: 1300px;
	min-width: 600px;
}

.navBar {
	display: grid;
	grid-template-columns: repeat(8, 10%) 1fr;
	width: 80%;
	height: 40px;
	margin: 80px auto;
	border: 1px solid #757575;
	border-radius: 5px;
	justify-items: center;
	place-items: center;
	background: linear-gradient(#8c8c8c 50%,#757575 50%);
	font-size: 13px;
	line-height: 18px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	color: whitesmoke;
}

.navBaritems {
  border-width: 0 2px 0 1px;
	border-style: solid;
	margin: 0;
	border: 1px solid red;
}

.navBaritems:hover {
	background-color: black;
}

.searchBar {
    display: flex;
    flex-direction: row;
}

.navBar > * {
    text-decoration: none;
    color: seashell;
}

.logo {
	width: 20px;
	height: 20px;
}

.logo:hover {
	background-color: black;
}

.header {
	padding: 24px 0;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.title {
	margin: 0 auto;
	text-decoration: none;
	color: whitesmoke;
	font-family: Arial;
	font-size: 50px;
	font-weight: 1;
	
}

.centerItem {
  position: relative;
	z-index: 10;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 31px;
}

.centerItem:hover {
	text-decoration: underline;
}

.promos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* border: 1px solid greenyellow; */
	width: 1300px;
	
}

.promo {
	object-fit: cover;
	width: 100%;
}

.footerMain {
  margin: 20px 0;
}

.firstLine {
  display: flex;
  flex-direction: row;
  /* border: 2px solid greenyellow; */
  min-width: 950px;
  justify-content: space-between;
  align-items: center;
}

.ftText {
font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
font-size: x-small;
margin: 0;
text-decoration: none;
/* border: 2px solid blueviolet; */
}

.flText2 {
  grid-template-columns: repeat(8, 1fr);
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: x-small;
  height: 100%;
  justify-content: space-around;

}

.ftImage {
	width: 15px;
	height: 15px;
}

.ftText2 {
  text-decoration: none;
  height: 100%;
  padding-top: 0;
}

.ftImage {
  align-self: end;
}

.secondLine {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slText2 {
  margin-left: 10px;
  align-content: center;
  /* border: 1px solid red; */
  width: 17%;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  height: 100%;
}